--extra-index-url https://download.pytorch.org/whl/cu124

torch==2.5.0+cu124; sys_platform != 'darwin'
torchvision==0.20.0+cu124; sys_platform != 'darwin'
torchaudio==2.5.0+cu124; sys_platform != 'darwin'
torch==2.5.0; sys_platform == 'darwin'
torchvision==0.20.0; sys_platform == 'darwin'
torchaudio==2.5.0; sys_platform == 'darwin'
xformers==0.0.28.post2

omegaconf>=2.3.0
accelerate>=0.28.0
einops>=0.8.0
opencv_python>=4.9.0.80
scipy>=1.12.0
ftfy>=6.2.0
regex>=2024.11.6
python-dateutil>=2.9.0.post0
timm>=0.9.16
pytorch-lightning>=2.2.1 # only for loading pretrained sd weight
tensorboard>=2.16.2 # for tensorboard event visualization
protobuf>=4.25.3 # for tensorboard
lpips>=0.1.4
facexlib @ git+https://github.com/avan06/facexlib
gradio==5.9.0
polars>=1.12.0
torchsde>=0.2.6
bitsandbytes>=0.44.1

# requirements for llava
transformers>=4.37.2
tokenizers>=0.15.1
sentencepiece>=0.1.99

# requirements for ram
fairscale>=0.4.4
